.main {
  background-color: #590202; 
  width: 768px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  height: 655px;
}  

.logo {
  width: 20rem;
}

.body {
  background-image: url('../../imgs/fast-food-pattern.jpg');
} 