.form-input {
  background-color: #D9BB84;
  border: 0;
  border-radius: 5px;
  margin-bottom: 1rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  padding: 10px;
}

.radio-button {
  font-size: 1.2rem;
  color: #D9BB84;
  margin-bottom: 20px; 
}

.saloon-input {
  margin: 10px 10px 0 0;
  width: 20rem;
  height: 1.5rem;
  font-size: 1rem;
}