.ul,
.main {
  padding-left: 0;
}

.container{
  width: 768px;
  display: flex;
  flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  font-family: 'Rubik', sans-serif;
  background-color: #D9BB84;
}

.infos {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 0 20px 0 20px;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px 0 10px 0;
}

.flavors {
  display: flex;
  justify-content: center;
  margin: 0 0 10px 0;
}


.form {
  width: 100%;
  background-color: #D9BB84;
}

.mainContainer{
  width: 100%;
  display: grid;
  grid-template-columns: 27rem 21rem;
  justify-content: start;
  justify-items: center;
  align-items: flex-start; 
  background-color: #D9BB84;
  min-height: 500px;
}

.main{
  width: 100%;
  background-color: #D9BB84;
  margin-top: 0;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.order{
  width: 100%; 
  background-color: #D9BB84;
  display: flex;
  flex-direction: column;
}

.title{
  font-size: 1.5rem;
  text-align: center;
}

.clientName,
.clientTable {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.totalOrderTop,
.totalOrderBottom {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: end;
}

.totalOrderTop{
  margin-top: 10px;
}

.totalOrderBottom{
  border-top: 0.3px solid #000000;
  padding-top: 5px;
  margin:0 5px 20px 0;
}

.containerBtn{
  display: flex;
  justify-content: center;
}

