
.container {
  width: 768px;
  display: flex;
  flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  font-family: 'Rubik', sans-serif;
  background-color: #D9BB84;
}

.main{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #D9BB84;
}