.name-product,
.complement-product,
.price-product {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}

.card-product {
  background-color: rgba(243, 235, 235, 0.8);
  width: 13rem;
  border-radius: 20px;
  margin: 0 10px 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-product {
  font-weight: bold;
  margin: 10px 0 10px 0;
  padding-top: 10px;
  text-align: center;
}

.img-product{
  width: 6rem;
  height: 4rem;
  margin-bottom: 10px;
}

.complement-section{
  display: flex;
}

.price-product {
  margin: 10px 0 10px 0;
}

